{% extends 'base.html' %}
{% block conteudo %}
<h1>Catalogo</h1>
<center>
<h2>Inserir Carro</h2>


    <form action="{{url_for('catalogo_completo')}}" method="post">
        <div>
            <label for="carro">Nome Carro</label>
            <br>
            <input type="text" name="carro" required />
        </div>
        <br>
        <div>
            <label for="ano">Ano</label>
            <br>
            <input type="text" name="ano" />
        </div>
        <br>
        <div>
            <label for="modelo">Modelo</label>
            <br>
            <input type="text" name="modelo" />
        </div>
        <br>
        <button class="btn btn-success">Adicionar</button>
    </form>
</center>
<br />
<hr />

<h2>Lista de Carros</h2>
{% for carro in catalogo_carros %}
<details>
    <summary>{{carro.carro}}</summary>
    <p>{{carro.ano}}</p>
    <p>{{carro.modelo}}</p>
</details>

{% endfor %}
{% endblock conteudo %}