{% extends 'base.html' %}
{% block conteudo %}

<div class="card-container">
    <div class="card">
        <h1 style="font-size: xx-large;">Desenvolvedores do site</h1>

        <p>Lucas e Diego são ótimos programadores que merecem nota maxima neste projeto ;).</p>
    </div>
</div>
<center>
    <div class="social-icons">

        <p>Lucas</p>
        <a href="https://wa.me/+5511933481079" target="_blank">
            <img src="https://upload.wikimedia.org/wikipedia/commons/6/6b/WhatsApp.svg" alt="WhatsApp">
        </a>
        <a href="https://www.instagram.com/lukazdetrivela/" target="_blank">
            <img src="https://upload.wikimedia.org/wikipedia/commons/a/a5/Instagram_icon.png" alt="Instagram">
        </a>
        <a href="https://github.com/lukazdetrivela" target="_blank">
            <img src="https://upload.wikimedia.org/wikipedia/commons/9/91/Octicons-mark-github.svg" alt="GitHub">
        </a>
        <br>
        <br>
        <p>Diego</p>
        <a href="https://wa.me/+5511980964370" target="_blank">
        <img src="https://upload.wikimedia.org/wikipedia/commons/6/6b/WhatsApp.svg" alt="WhatsApp">
        </a>

        <a href="https://www.instagram.com/morialvss/" target="_blank">
            <img src="https://upload.wikimedia.org/wikipedia/commons/a/a5/Instagram_icon.png" alt="Instagram">
        </a>
        <a href="https://github.com/Digo12345" target="_blank">
            <img src="https://upload.wikimedia.org/wikipedia/commons/9/91/Octicons-mark-github.svg" alt="GitHub">
        </a>
    </div>

</center>

{% endblock conteudo %}